* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

$transparent-text: rgba(
  $color: #fff,
  $alpha: 0.6,
);
$transparent-border: rgba(
  $color: #fff,
  $alpha: 0.4,
);

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-size: cover;
  background-attachment: fixed;


  &.rain, &.drizzle, &.thunderstorm {
    background-image: url("../images/rain.jpg");
  }

  &.snow {
    background-image: url("../images/snow.jpg");
  }

  &.atmosphere {
    background-image: url("../images/clouds.jpg");
  }

  &.clear {
    background-image: url("../images/clear.jpg");
  }

  &.clouds {
    background-image: url("../images/clouds.jpg");
  }

  .main-block {
    flex: 1;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    padding: 50px;

    .info-block {
      display: flex;
      align-items: center;
      color: #fff;

      .temp {
        font-size: 120px;
        font-weight: 500;
      }

      .city-info {
        margin: 0 30px;

        .city-name {
          font-size: 60px;
          font-weight: 500;
        }
      }

      .weather-info {
        text-align: center;

        .weather-icon {
          margin-bottom: 2px;

          img {
            height: 50px;
          }
        }
      }
    }
  }

  .sidebar-wrapper {
    width: 500px;
    height: 100vh;

    position: relative;
    background: inherit;
    overflow: hidden;

    &::before {
      content: "";
      width: calc(100% + 25px);
      height: calc(100% + 25px);
      background: inherit;
      position: absolute;
      right: -25px;
      bottom: -25px;
      filter: blur(8px);
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($color: #000, $alpha: 0.2);
    }
  }

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    z-index: 2;
    display: flex;
    flex-direction: column;

    .search-block {
      display: flex;

      .search-input {
        width: calc(100% - 100px);
        font-size: 15px;
        border: none;
        background: transparent;
        border-bottom: 1px solid $transparent-border;
        padding: 20px 0;
        outline: none;
        color: #fff;

      }
      ::-webkit-input-placeholder{
        color: $transparent-text;
      }
      ::-moz-placeholder{
        color: $transparent-text;
      }
      :-moz-placeholder{
        color: $transparent-text;
      }
      :-ms-input-placeholder {
        color: $transparent-text;
      }

      .submit-btn {
        background-color: #aacde18f;
        position: absolute;
        top: 0;
        right: 0;
        height: 100px;        
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        cursor: pointer;
        opacity: 0.8;
        transition-duration: 0.3s;

        &:hover {
          opacity: 1;
        }

        &:active {
          transform: translateY(10px);
        }

        img {
          width: 30px;
        }

      }

    }

    .cities-block {
      border-bottom: 1px solid $transparent-border;
      padding: 30px 0;

      .cities-list {
        height: calc(100vh - 450px);
        overflow: auto;

        .city {
          padding: 13px 0;
          cursor: pointer;

          &:hover {
            color: #fff;
          }

          .country {
            margin-left: 2px;
          }

        }
      }

      .loader-block {
        height: calc(100vh - 450px);
        display: flex;
        justify-content: center;
      }
    }

    .weather-details {
      border-bottom: 1px solid $transparent-border;
      padding: 30px 0 15px 0;

      .title {
        margin-bottom: 20px;
      }

      .row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 13px 0;
      }
    }
  }

  .transparent-text {
    color: $transparent-text;
    font-size: 15px;
  }

  .white-text {
    color: #fff;
    font-size: 15px;
  }

  .fullscreen-loader {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background: rgb(51,116,181);
background: linear-gradient(222deg, rgba(51,116,181,1) 0%, rgba(112,56,33,1) 100%);

  }

  .loader {
    .lds-facebook {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-facebook div {
      display: inline-block;
      position: absolute;
      left: 8px;
      width: 16px;
      background: #fff;
      animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }
    .lds-facebook div:nth-child(1) {
      left: 8px;
      animation-delay: -0.24s;
    }
    .lds-facebook div:nth-child(2) {
      left: 32px;
      animation-delay: -0.12s;
    }
    .lds-facebook div:nth-child(3) {
      left: 56px;
      animation-delay: 0;
    }
    @keyframes lds-facebook {
      0% {
        top: 8px;
        height: 64px;
      }
      50%, 100% {
        top: 24px;
        height: 32px;
      }
    }
    
  }

}

// SCROLLBAR STYLE:

.cities-list {
  scrollbar-color: rgba(128, 128, 128, 0.3) transparent;
}

.cities-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.cities-list::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

.cities-list::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 5px;

  &:hover {
    background-color: rgba(128, 128, 128, 0.5);
  }
}
