@media (max-width: 1023px) {
  .wrapper {
    flex-direction: column;

    .main-block {
      width: 100%;
      align-items: center;
      justify-content: center;

      .time {
        text-align: center;
      }
    }

    .sidebar-wrapper {
      width: 100%;

      &::after {
        background-color: rgba($color: #000000, $alpha: 0.4);
      }

      .sidebar {
        .search-block {
          position: relative;

          .submit-btn {
            width: 60px;
            height: 60px;
          }
        }


        .weather-details {
          order: -1;
        }
      }
    }
  }
}

@media (max-width: 610px) {
  .wrapper {
    .main-block {
      .info-block {
        flex-direction: column;
        align-items: center;

        .temp {
          margin: 20px 0;
          transform: translateX(10px);
        }

        .weather-info {
          order: -1;
        }
      }
    }
  }
}
